#################
##Java
#################

/target/

#################
##Netbeans
#################

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#################
## Joget
#################

wflow-consoleweb/src/main/webapp/wro/
/nb-configuration.xml